{% extends 'fapp/base.html' %}

  {% block first %}
  <title>Display Page</title>
  {% endblock %}

{% block second %}
<div class="container">
<table border="2" class="table table-striped" style='width:85%'>
  <tr>
    <th>Lid</th>
    <th>Company</th>
    <th>Price</th>
    <th>Ram</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  {% for i in obj %}
  <tr>
    <td>{{i.lid}}</td>
    <td>{{i.company}}</td>
    <td>{{i.price}}</td>
    <td>{{i.ram}}</td>
    <td><a href="{% url 'update' i.id %}"><button class="btn btn-warning">Update</button></a> </td>
    <td><a href="{% url 'delete' i.id %}"><button class="btn btn-danger">delete</button></a></td>
  </tr>
  {% endfor %}
</table>
  <br><br>
  <a href="{% url 'add_laptop' %}"><button class="btn btn-primary">Add Laptop</button></a>
</div>
  {% endblock %}